@(contestEntryForm: Form[controllers.admin.ContestEntryForm], match_events: List[model.TemplateMatchEvent])

@import helper._
@import helper.twitterBootstrap._
@import controllers.admin.routes._

@if(contestEntryForm.hasErrors) {
    @controllers.admin.FlashMessage.danger("Contest Entry Form has errors")
}

@input_text(field: Field, _placeholder: String = "", _class: String = "") = {
    <div>
    <input id="@field.name" name="@field.name" type="text" placeholder="@_placeholder" class="@_class @if(field.hasErrors) {has-error}" required="" value="@field.value">
    @if(field.hasErrors) {
        <span class="help-block">@{field.error.map { error => error.message }}</span>
    }
    </div>
}

@show_team(team: model.SoccerTeam) = {
    <div class="table-responsive">
        <table class="table table-striped">
            <caption>@team.name</caption>
            <thead>
            <tr>
                <th>Template SoccerID</th>
                <th>OptaId</th>
                <th>Name</th>
                <th>Field Pos</th>
                <th>Salary</th>
                <th>Fantasy Points</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @for(p <- team.soccerPlayers) {
            <tr>
                <td>@p.templateSoccerPlayerId</td>
                <td>@p.optaPlayerId</td>
                <td>@p.name</td>
                <td>@p.fieldPos</td>
                <td>@p.salary</td>
                <td>@p.fantasyPoints</td>
                <td><button class="btn btn-success addSoccer" value="@p.optaPlayerId">+</button></td>
            </tr>
            }
            </tbody>
        </table>
    </div>
}

@scripts = {
    <script type="text/javascript">

    // El futbolista ya esta incluido en el fantasy team?
    function soccerInFantasyTeam(optaPlayerId) {
        var soccers = $('.soccer')
            .filter(function() { return this.value == optaPlayerId; });
        return (soccers.length > 0);
    }

    $(document).ready( function(){
      // Helper: Añadir un futbolista al fantasy team
      $(".addSoccer").click(function() {
        var optaPlayerId = $(this).val();
        if (!soccerInFantasyTeam(optaPlayerId)) {
            var soccersEmpty = $('.soccer').filter(function() { return this.value == ""; });
            if (soccersEmpty.length > 0) {
                soccersEmpty.each(function() {
                    this.value = optaPlayerId;
                    return false;
                });
            }
            else {
                alert("Fantasy Team Full");
            }
        }
        else {
            alert("OptaId " + optaPlayerId + " duplicated in fantasy team");
        }
      })
    })

    </script>
}

@main("Contest Entry - Admin", scripts) {

<h1 class="page-header">Contest Entry</h1>

<h2 class="sub-header"></h2>

@helper.form(action = ContestEntryController.create, 'class -> "form-horizontal") {
    <fieldset>

        <!-- Form Name -->
        <legend>Contest Entry</legend>

        <!-- Text input-->
        <div class="control-group">
            <label class="control-label">UserId</label>
            <div class="controls">
                @input_text(contestEntryForm("userId"), _placeholder = "UserId", _class = "form-control input-xlarge")
            </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
            <label class="control-label">ContestId</label>
            <div class="controls">
                @input_text(contestEntryForm("contestId"), _placeholder = "ContestId", _class = "form-control input-xlarge")
            </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
            <label class="control-label">Goalkeeper</label>
            <div class="controls">
                @input_text(contestEntryForm("goalkeeper"), _placeholder = "OptaId for Goalkeeper", _class = "soccer goalkeeper input-xlarge")
            </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
            <label class="control-label">Defenses</label>
            <div class="controls">
                @input_text(contestEntryForm("defense1"), _placeholder = "OptaId for Defense", _class = "soccer defense input-xlarge")
                @input_text(contestEntryForm("defense2"), _placeholder = "OptaId for Defense", _class = "soccer defense input-xlarge")
                @input_text(contestEntryForm("defense3"), _placeholder = "OptaId for Defense", _class = "soccer defense input-xlarge")
                @input_text(contestEntryForm("defense4"), _placeholder = "OptaId for Defense", _class = "soccer defense input-xlarge")
            </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
            <label class="control-label">Middles</label>
            <div class="controls">
                @input_text(contestEntryForm("middle1"), _placeholder = "OptaId for Middle", _class = "soccer middle input-xlarge")
                @input_text(contestEntryForm("middle2"), _placeholder = "OptaId for Middle", _class = "soccer middle input-xlarge")
                @input_text(contestEntryForm("middle3"), _placeholder = "OptaId for Middle", _class = "soccer middle input-xlarge")
                @input_text(contestEntryForm("middle4"), _placeholder = "OptaId for Middle", _class = "soccer middle input-xlarge")
            </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
            <label class="control-label">Forwards</label>
            <div class="controls">
                @input_text(contestEntryForm("forward1"), _placeholder = "OptaId for Forward", _class = "soccer forward input-xlarge")
                @input_text(contestEntryForm("forward2"), _placeholder = "OptaId for Forward", _class = "soccer forward input-xlarge")
            </div>
        </div>

        <!-- Button (Double) -->
        <div class="control-group">
            <label class="control-label" for="ok"></label>
            <div class="controls">
                <button id="ok" name="ok" type="submit" class="btn btn-success">Create</button>
                <a href="@ContestEntryController.index" class="btn btn-danger">Cancel</a>
            </div>
        </div>

    </fieldset>
}


@if(match_events != null) {
    @for(p <- match_events) {
        @show_team(p.soccerTeamA)
        @show_team(p.soccerTeamB)
    }
}

<br/>

<br/>
<a href='@DashboardController.index'>Back to Dashboard</a>

}
