@()

@import model._
@import controllers.admin.routes._

@scripts = {
    <script type="text/javascript">

        function updatePage() {
            $.ajax({
                url: "/admin/is_paused_simulator",
                success: function(result) {
                    if (result == "false") {
                        window.location.reload(true);
                    }
                }
            });
        }

        $(document).ready( function(){
            window.setInterval(updatePage, 10000);

            $('#ajax_table_id').dataTable( {
              "iDisplayLength": 100,
              "bProcessing": true,
              "aaSorting": [[ 0, "asc" ]],
              "bServerSide": true,
              "bJQueryUI": true,
              "sPaginationType": "full_numbers",
              "sAjaxSource": "/admin/contests/ajax"
            });
        })

    </script>
}

@main("Contests - Admin", scripts) {

<h1 class="page-header">Contests</h1>

<h2 class="sub-header"></h2>
<div class="table-responsive">
    <table id="ajax_table_id" class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Current Users</th>
            <th>Max Entries</th>
            <th>TemplateContestId</th>
            <th>State</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<br/>
}