@(contestEntryForm: Form[controllers.admin.ContestEntryForm], match_events: List[model.TemplateMatchEvent])

@import helper._
@import helper.twitterBootstrap._

@if(contestEntryForm.hasErrors) {
    @controllers.admin.FlashMessage.danger("Contest Entry Form has errors")
}

@input_text(field: Field, _placeholder: String = "", _class: String = "") = {
    <div>
    <input id="@field.name" name="@field.name" type="text" placeholder="@_placeholder" class="@_class @if(field.hasErrors) {has-error}" required="" value="@field.value">
    @if(field.hasErrors) {
        <span class="help-block">@{field.error.map { error => error.message }}</span>
    }
    </div>
}

@show_team(team: model.SoccerTeam) = {
    <div class="table-responsive">
        <table class="table table-striped">
            <caption>@team.name</caption>
            <thead>
            <tr>
                <th>Template SoccerID</th>
                <th>OptaId</th>
                <th>Name</th>
                <th>Field Pos</th>
                <th>Salary</th>
                <th>Fantasy Points</th>
            </tr>
            </thead>
            <tbody>
            @for(p <- team.soccerPlayers) {
            <tr>
                <td>@p.templateSoccerPlayerId</td>
                <td>@p.optaPlayerId</td>
                <td>@p.name</td>
                <td>@p.fieldPos</td>
                <td>@p.salary</td>
                <td>@p.fantasyPoints</td>
            </tr>
            }
            </tbody>
        </table>
    </div>
}


@main("Contest Entry - Admin") {

<h1 class="page-header">Contest Entry</h1>

<h2 class="sub-header"></h2>

@helper.form(action = AdminController.submitContestEntry, 'class -> "form-horizontal") {
    <fieldset>

        <!-- Form Name -->
        <legend>Contest Entry</legend>

        <!-- Text input-->
        <div class="control-group">
            <label class="control-label">UserId</label>
            <div class="controls">
                @input_text(contestEntryForm("userId"), _placeholder = "UserId", _class = "form-control input-xlarge")
            </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
            <label class="control-label">ContestId</label>
            <div class="controls">
                @input_text(contestEntryForm("contestId"), _placeholder = "ContestId", _class = "form-control input-xlarge")
            </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
            <label class="control-label">Goalkeeper</label>
            <div class="controls">
                @input_text(contestEntryForm("goalkeeper"), _placeholder = "OptaId for Goalkeeper", _class = "input-xlarge")
            </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
            <label class="control-label">Defenses</label>
            <div class="controls">
                @input_text(contestEntryForm("defense1"), _placeholder = "OptaId for Defense", _class = "input-xlarge")
                @input_text(contestEntryForm("defense2"), _placeholder = "OptaId for Defense", _class = "input-xlarge")
                @input_text(contestEntryForm("defense3"), _placeholder = "OptaId for Defense", _class = "input-xlarge")
                @input_text(contestEntryForm("defense4"), _placeholder = "OptaId for Defense", _class = "input-xlarge")
            </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
            <label class="control-label">Middles</label>
            <div class="controls">
                @input_text(contestEntryForm("middle1"), _placeholder = "OptaId for Middle", _class = "input-xlarge")
                @input_text(contestEntryForm("middle2"), _placeholder = "OptaId for Middle", _class = "input-xlarge")
                @input_text(contestEntryForm("middle3"), _placeholder = "OptaId for Middle", _class = "input-xlarge")
                @input_text(contestEntryForm("middle4"), _placeholder = "OptaId for Middle", _class = "input-xlarge")
            </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
            <label class="control-label">Forwards</label>
            <div class="controls">
                @input_text(contestEntryForm("forward1"), _placeholder = "OptaId for Forward", _class = "input-xlarge")
                @input_text(contestEntryForm("forward2"), _placeholder = "OptaId for Forward", _class = "input-xlarge")
            </div>
        </div>

        <!-- Button (Double) -->
        <div class="control-group">
            <label class="control-label" for="ok"></label>
            <div class="controls">
                <button id="ok" name="ok" class="btn btn-success">Create</button>
                <a href="@AdminController.contestEntries" class="btn btn-danger">Cancel</a>
            </div>
        </div>

    </fieldset>

    @if(match_events != null) {
        @for(p <- match_events) {
            @show_team(p.soccerTeamA)
            @show_team(p.soccerTeamB)
        }
    }
}

<br/>

<br/>
<a href='@AdminController.dashBoard'>Back to Dashboard</a>

}
