@()

@import controllers.admin.routes._

@main("DailySoccer - Admin") {

<h1 class="page-header">Dashboard</h1>


<div>
    <a href="@TestController.initialSetup"><button class="btn btn-danger">Initial Setup</button></a>
</div>
<br/>
<div>
    <a class="btn btn-primary" href="@ImportController.importSalaries" title="Import Players' salaries from a CSV file.">
        Import Salaries
    </a>
    <a href="@ImportController.showImportTeams"><button class="btn btn-warning">Import Teams</button></a>
    <a href="@ImportController.showImportSoccers"><button class="btn btn-warning">Import SoccerPlayers</button></a>
    <a href="@ImportController.showImportMatchEvents"><button class="btn btn-warning">Import MatchEvents</button></a>
</div>

<br/>
<br/>

<div>
    <a class="btn btn-primary" href="@ImportController.exportSalaries" title="Export Players' salaries to a CSV file.">
        Export Salaries
    </a>

</div>
}