@(competitions_enabled : List[model.opta.OptaCompetition])

@import controllers.admin.routes._

@scripts = {
<script type="text/javascript" charset="utf-8">

$(document).ready(function() {
    getMongo();

});

function setMongo() {
        var new_mongo = $('#mongo-conn').val();
        var another_temp = $.ajax({
                        url: "/admin/setmongo/"+new_mongo,
                        success: function (result) {
                            location.reload();
                        }
                    });
}

function getMongo() {
    var temp = $.ajax({
                    url: "/admin/getmongo",
                    success: function (result) {
                        $('#mongo-conn option[value="'+result+'"]').prop('selected', true);
                    }
                });
}
</script>
}

@main("DailySoccer - Admin", scripts) {

<h1 class="page-header">Dashboard</h1>


<div>
    <select id="mongo-conn" onchange="setMongo()" class="form-control" style="width: inherit; display: inline-block;">
        <option value="localhost">Localhost</option>
        <option value="dailysoccer-staging">Staging</option>
        <option value="dailysoccer">Epic Eleven</option>
    </select>

    <div style="float: right; margin-right:100px;">
        <a href="@DashboardController.resetDB" class="btn btn-danger">Reset DB</a>
        @if(competitions_enabled.isEmpty) {
            <a href="@DashboardController.initialSetup" class="btn btn-danger disabled">Initial Setup</a>
        } else {
            <a href="@DashboardController.initialSetup" class="btn btn-danger">Initial Setup</a>
        }
    </div>
</div>
<br/>
<div>
    <a href="@OptaController.optaCompetitions" class="btn btn-primary">Select Competitions</a>
    @if(competitions_enabled.isEmpty) {
        <span class="bg-danger text-danger" style="padding:5px">&#8999; Ninguna Competición</span>
    } else {
        @for((p, index) <- competitions_enabled.zipWithIndex) {
            <em class="bg-success text-primary" style="margin:5px; padding:5px">&#10003; @p.competitionName/@p.seasonId</em>
        }
    }
</div>
<br/>
<div>
    <a class="btn btn-primary" href="@ExcelController.index" title="Google Docs Import/Export">
        Google Docs Import/Export
    </a>
    <a href="@ImportController.showImportTeams" class="btn btn-warning">Import Teams</a>
    <a href="@ImportController.showImportSoccers" class="btn btn-warning">Import SoccerPlayers</a>
    <a href="@ImportController.showImportMatchEvents" class="btn btn-warning">Import MatchEvents</a>
</div>

<br/>
<br/>



}