@import controllers.admin.routes._

@import helper._

@main("DailySoccer - Admin - Google Docs") {



<h1 class="page-header">Google Docs integration</h1>

<div>

    @helper.form(action = ExcelController.upload, 'enctype -> "multipart/form-data") {

    <input type="file" name="picture">

    <p>
        <input type="submit">
    </p>

    }

    <a class="btn btn-primary" href="@ExcelController.writeSoccerPlayersLog" title="Write Players' Activity Log to Google Docs.">
        Write Players' Activity
    </a>

</div>

}