@(match_event: model.LiveMatchEvent)

@import model._
@import controllers.admin.routes._

@scripts = {
    <script type="text/javascript">

        function updatePage() {
            console.log("reload");
            window.location.reload(true);
        }

        $(document).ready( function(){
            window.setInterval(updatePage, 10000);
        })

    </script>
}

@match_event_state(match_event_id : String) = {
    @if(TemplateMatchEvent.isFinished(match_event_id)) {
        <button class="btn btn-danger state_match_event" value="@match_event_id">Finished</button>
    } else {
        @if(TemplateMatchEvent.isStarted(match_event_id)) {
            <button class="btn btn-success state_match_event" value="@match_event_id">Live</button>
        } else {
            <button class="btn btn-warning state_match_event" value="@match_event_id">Waiting</button>
        }
    }
}


@main("Live Mach Event - Admin", scripts) {

<h1 class="page-header">Live Match Event: @match_event.liveMatchEventId</h1>

<h2 class="sub-header">Start Date: @match_event.startDate</h2>
<h3><span>@LiveMatchEvent.currentTime(match_event.liveMatchEventId.toString()).format("HH:mm:ss")</span> @match_event_state(match_event.templateMatchEventId.toString())</h3>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <caption>@match_event.soccerTeamA.name (@match_event.soccerTeamA.getFantasyPoints)</caption>
        <tr>
            <th>Template SoccerID</th>
            <th>Name</th>
            <th>Field Pos</th>
            <th>Salary</th>
            <th>Fantasy Points</th>
        </tr>
        </thead>
        <tbody>
        @for(p <- match_event.soccerTeamA.soccerPlayers) {
        <tr>
            <td>@p.templateSoccerPlayerId</td>
            <td>@p.name</td>
            <td>@p.fieldPos</td>
            <td>@p.salary</td>
            <td><a href="@TemplateSoccerPlayerController.showFantasyPointsInMatchEvent(match_event.templateMatchEventId.toString(), p.templateSoccerPlayerId.toString())">@p.fantasyPoints</a></td>
        </tr>
        }
        </tbody>
    </table>
    <table class="table table-striped">
        <caption>@match_event.soccerTeamB.name (@match_event.soccerTeamB.getFantasyPoints)</caption>
        <thead>
        <tr>
            <th>Template SoccerID</th>
            <th>Name</th>
            <th>Field Pos</th>
            <th>Salary</th>
            <th>Fantasy Points</th>
        </tr>
        </thead>
        <tbody>
        @for(p <- match_event.soccerTeamB.soccerPlayers) {
        <tr>
            <td>@p.templateSoccerPlayerId</td>
            <td>@p.name</td>
            <td>@p.fieldPos</td>
            <td>@p.salary</td>
            <td><a href="@TemplateSoccerPlayerController.showFantasyPointsInMatchEvent(match_event.templateMatchEventId.toString(), p.templateSoccerPlayerId.toString())">@p.fantasyPoints</a></td>
        </tr>
        }
        </tbody>
    </table>
</div>

<a href='@LiveMatchEventController.index'>Back to Live Match Events</a>

}