@(contests: List[model.Contest], templateMap: HashMap[org.bson.types.ObjectId, model.TemplateContest])

@main("Lobby - Admin") {

<h1 class="page-header">Lobby</h1>

<h2 class="sub-header"></h2>
<div class="table-responsive">
    <table id="table_id" class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>CurrentUserIds</th>
            <th>maxUsers</th>
            <th>TemplateContestId</th>
        </tr>
        </thead>
        <tbody>
        @for(p <- contests) {
        <tr>
            <td>@p.contestId</td>
            <td><a href="@AdminController.contest(p.contestId.toString())">@p.name</a></td>
            <td>@p.currentUserIds</td>
            <td>@p.maxUsers</td>
            <td><a href="@AdminController.templateContest(p.templateContestId.toString())">
                @templateMap(p.templateContestId).name (@p.templateContestId)</a></td>
        </tr>
        }
        </tbody>
    </table>
</div>

<div><a href='@AdminController.dashBoard'>Back to Dashboard</a></div>

}