@(title: String, scripts: Html = Html(""))(content: Html)

@import controllers.admin.FlashMessage
@import controllers.admin.routes._
@import model._

@flash_message() = {
    @for(message <- FlashMessage.list) {
        @if(message !=null) {
            @if(!message.text.isEmpty) {
                <div class="alert alert-@message.alertType alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <span class="">@message.text</span>
                </div>
            }
        }
    }
    @FlashMessage.clear
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@title</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap-3.1.1.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme-3.1.1.min.css" rel="stylesheet">

    <!-- DataTables -->
    <link href="/css/jquery.dataTables-1.10.0.css" rel="stylesheet">
    <link href="/css/dataTables.bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!-- link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet" -->
    <link href="/css/dashboard.css" rel="stylesheet">
    <link href="/css/simulator-btn.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/admin">Daily Soccer</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="@DashboardController.index">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="@DashboardController.index">Dashboard</a></li>
                <!--li><a href="#">Reports</a></li>
                <li><a href="#">Analytics</a></li>
                <li><a href="#">Export</a></li-->
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="@AdminController.lobby">Lobby</a></li>
                <li><a href="@UserController.index">Users</a></li>
                <li><a href="@PointsTranslationController.index">Points Translations</a></li>
                <li><a href="@ContestEntryController.index">Contest Entries</a></li>
                <li><a href="@ContestController.index">Contests</a></li>
                <li><a href="@MatchEventController.index">Match Events</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="@TemplateContestController.index">Template Contests</a></li>
                <li><a href="@TemplateMatchEventController.index">Template Match Events</a></li>
                <li><a href="@TemplateSoccerTeamController.index">Template Soccer Teams</a></li>
                <li><a href="@TemplateSoccerPlayerController.index">Template Soccer Players</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="@OptaController.optaSoccerPlayers">Opta Players</a></li>
                <li><a href="@OptaController.optaSoccerTeams">Opta Teams</a></li>
                <li><a href="@OptaController.optaMatchEvents">Opta Match Events</a></li>
                <li><a href="@OptaController.optaEvents">Opta Events</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="@SnapshotController.index">Snapshots</a></li>
                <li><a href="@RefresherController.index">Refresh DB</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            @flash_message
            @content
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="/js/jquery.dataTables.js"></script>
<script src="/js/dataTables.bootstrap.js"></script>
<!--script src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
<script src="//cdn.datatables.net/plug-ins/be7019ee387/integration/bootstrap/3/dataTables.bootstrap.js"></script-->
@simulatorbar()

@scripts

<script type="text/javascript" charset="utf-8">
        $(document).ready( function () {
//            console.log( "DataTable init" );
            $('#table_id').dataTable( {
                stateSave: true,
                iDisplayLength: 100
            } );
        } );
</script>

</body>
</html>
