@(title: String, scripts: Html = Html(""))(content: Html)

@import controllers.admin.OptaSimulator
@import controllers.admin.FlashMessage
@import controllers.admin.routes._
@import model._

@flash_message() = {
    @for(message <- FlashMessage.list) {
        @if(message !=null) {
            @if(!message.text.isEmpty) {
                <div class="alert alert-@message.alertType alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <span class="">@message.text</span>
                </div>
            }
        }
    }
    @FlashMessage.clear
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@title</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap-3.1.1.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme-3.1.1.min.css" rel="stylesheet">

    <!-- DataTables -->
    <link href="/css/jquery.dataTables-1.10.0.css" rel="stylesheet">
    <link href="/css/dataTables.bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!-- link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet" -->
    <link href="/css/dashboard.css" rel="stylesheet">
    <link href="/css/simulator-btn.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/admin">Daily Soccer</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="@DashboardController.index">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="@DashboardController.index">Overview</a></li>
                <!--li><a href="#">Reports</a></li>
                <li><a href="#">Analytics</a></li>
                <li><a href="#">Export</a></li-->
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="@AdminController.lobby">Lobby</a></li>
                <li><a href="@UserController.index">Users</a></li>
                <li><a href="@PointsTranslationController.index">Points Translations</a></li>
                <li><a href="@ContestEntryController.index">Contest Entries</a></li>
                <li><a href="@ContestController.index">Contests</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="@TemplateContestController.index">Template Contests</a></li>
                <li><a href="@TemplateMatchEventController.index">Template Match Events</a></li>
                <li><a href="@TemplateSoccerTeamController.index">Template Soccer Teams</a></li>
                <li><a href="@TemplateSoccerPlayerController.index">Template Soccer Players</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="@OptaController.optaSoccerPlayers">Opta Players</a></li>
                <li><a href="@OptaController.optaSoccerTeams">Opta Teams</a></li>
                <li><a href="@OptaController.optaMatchEvents">Opta Match Events</a></li>
                <li><a href="@OptaController.optaEvents">Opta Events</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="@SimulatorController.index">Snapshots</a></li>
                <li><a href="@RefresherController.index">Refresh DB</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            @flash_message
            @content
        </div>
    </div>
</div>

<div class="navbar navbar-fixed-bottom" style="background: #ededed; border-top: 1px solid #ccc">
    <div class="container-fluid">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a>Current date:<span style="font-weight:700; margin-left: 0.5em;" id="time">@OptaSimulator.getCurrentDate().format("yyyy/MM/dd HH:mm:ss")</span> </a></li>
                <li><a>Next stop:<span style="font-weight:700;margin-left: 0.5em;" id="nextStop">@OptaSimulator.getNextStop()</span> </a></li>
                <li><a> Next file index:<span style="font-weight:700;margin-left: 0.5em;" id="nextStepDesc">@OptaSimulator.getNextStepDescription()</span> </a></li>
                @if(OptaSimulator.isSnapshotEnabled()) {
                    <li><a>Snapshot:<strong> @Snapshot.getName()</strong></a></li>
                }
            </ul>
                <div class="btn-group" style="display:inline-block;">
                    @if(OptaSimulator.isPaused()) {
                    <a class="btn btn-sim btn-primary ajax play" href="@SimulatorController.start" title="Starts the simulator at the beginning of time (the first date sent by Opta) or resumes execution from the current date.">
                        Start
                    </a>
                    } else {
                    <a class="btn btn-sim btn-primary ajax pause" href="@SimulatorController.pause">
                        Pause
                    </a>
                    }

                    <a class="btn btn-sim btn-primary
                    @if(!OptaSimulator.isPaused()) {disabled}
                     ajax forward" href="@SimulatorController.nextStep" title="Process the next Opta file (or first if we are at the beginning of time)">
                        Next step
                    </a>
                    <a class="btn btn-sim btn-primary ajax stop" href="@SimulatorController.reset" title="Erases the whole Database and resets to the beginning of time.">
                        Reset
                    </a>
                </div>
                @helper.form(action = SimulatorController.gotoDate, 'onsubmit -> "return validateForm()", 'id -> "date-pause-form", 'style -> "display:inline-block; margin-top: 8px;") {
                    <input type="datetime-local" value="2014-06-14T00:00" id="date-pause" name="date" class="form-control" style="display:inline-block">
                }
                <button id="date-pause-ok" name="date-pause-ok" type="button" class="btn btn-primary">
                    Go to Date
                </button>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
<script src="//cdn.datatables.net/plug-ins/be7019ee387/integration/bootstrap/3/dataTables.bootstrap.js"></script>

@scripts

<script type="text/javascript" charset="utf-8">
        $(document).ready( function () {
//            console.log( "DataTable init" );
            $('#table_id').dataTable( {
                stateSave: true
            } );
        } );
</script>

<script type="text/javascript" charset="utf-8">
        var was_paused = "@OptaSimulator.isPaused";
        var is_running = "@{!OptaSimulator.isFinished}";

        function updatePage(paused) {
            if (paused == "false") {
                $(".btn-sim.play").attr("href", "/admin/pause_simulator");
                $(".btn-sim.play").text("Pause");
                $(".btn-sim.play").addClass("pause");
                $(".btn-sim.pause").removeClass("play");
                $(".btn-sim.forward").addClass("disabled");
                $(".btn-sim.forward").text("Next step");
            } else {
                $(".btn-sim.pause").attr("href", "/admin/start_simulator");
                $(".btn-sim.pause").text("Play");
                $(".btn-sim.pause").addClass("play");
                $(".btn-sim.play").removeClass("pause");
                $(".btn-sim.forward").removeClass("disabled");
                $(".btn-sim.forward").text("Next step");
            }
        }

        function repaintButtons() {
            if (is_running == "true") {
                $(".btn-sim").removeClass("btn-primary");
                $(".btn-sim").addClass("btn-success");
            } else {
                $(".btn-sim").removeClass("btn-success");
                $(".btn-sim").addClass("btn-primary");
            }
        }

        function checkRunning() {
            var temp =  $.ajax({
                url: "/admin/is_running",
                success: function(result) {
                        var was_running = is_running
                        is_running = result;
                        //if (is_running == "true") {
                        updateFields();
                        //}
                        if (is_running !== was_running){
                            repaintButtons();
                        }
                }
            });
        }

        function checkReload() {
            var temp =  $.ajax({
                url: "/admin/is_paused",
                success: function(result) {
                        if (result !== was_paused) {
                            was_paused = result;
                            updatePage(result);
                        }
                }
            });
        }

        function sleep(millis, callback) {
            setTimeout(function()
                    { callback(); }
            , millis);
        }

        function validateForm() {
            if ((new Date($("#time").text()) < new Date($("#date-pause").val())) || is_running == "false") {
                return true;
            } else {
                alert("Error: La fecha introducida es anterior");
            }
            return false;
        }

        function updateFields() {
            $("#time").load("/admin/current_date_simulator");
            $("#nextStepDesc").load("/admin/next_step_desc_simulator");
            $("#nextStop").load("/admin/next_stop_simulator");
        }

        $('.ajax').on('click', function(e) {
            $(this).addClass('active');
            e.preventDefault();
            var myself = $(this);
            $.ajax({
                 url: $(this).attr('href'),
                 complete: function(result) {
                    myself.removeClass('active');
                 }
            });
            sleep(100, checkReload);
        });

        $(document).ready( function(){
           repaintButtons();
           //window.setInterval(updateFields, 1000);
           window.setInterval(checkRunning, 500);
           window.setInterval(checkReload, 5000);
        });

        $('#date-pause-ok').click(function(){
            var form = $('#date-pause-form');
            $.ajax({
              type: form.attr('method'),
              url: form.attr('action'),
              data: form.serialize()
            }).done(function() {
              // Optionally alert the user of success here...
            }).fail(function() {
              // Optionally alert the user of an error here...
            });
            sleep(100, checkReload);
        });

</script>

</body>
</html>
