@(simulated_events: List[model.SimulationEvent], playerInfoMap: HashMap[String, String])

@import model.opta.OptaEventType
@import controllers.admin.routes._
@import model.GlobalDate

@scripts = {
<script type="text/javascript">
        $(document).ready( function(){
            $('#ajax_table_id').dataTable( {
                "columns": [
                    { "title": "Elapsed" },
                    { "title": "Name" },
                    { "title": "Team" },
                    { "title": "TypeId" },
                    { "title": "Points" }
                ],
                "data": [
                    @for((p, index) <- simulated_events.zipWithIndex) {
                        [
                            "@("%02d".format(p.min)):@("%02d".format(p.sec))",
                            @if(playerInfoMap.containsKey(p.templateSoccerPlayerId.toString())) {
                                "@playerInfoMap(p.templateSoccerPlayerId.toString())",
                                "@playerInfoMap(p.templateSoccerPlayerId.toString()+"-team")",
                            } else {
                                "@p.templateSoccerPlayerId.toString()",
                                "???",
                            }
                            "@p.eventType.name()",
                            "@p.points",
                        ] @if(index < simulated_events.size-1) { , }
                    }
                ],
                stateSave: true,
                iDisplayLength: 100,
                "deferRender": true
            } );
        })
    </script>
}

@main("Simulated Events - Admin", scripts) {

<h1 class="page-header">Simulated Events</h1>

<div class="table-responsive">
    <table id="ajax_table_id" class="table table-striped"></table>
</div>
}