@(opta_events: List[model.opta.OptaEvent], playerInfoMap: HashMap[String, String])

@import model.opta.OptaEventType
@import controllers.admin.routes._
@import model.GlobalDate

@scripts = {
    <script type="text/javascript">
        $(document).ready( function(){
            $('#ajax_table_id').dataTable( {
                "columns": [
                    { "title": "TimeStamp" },
                    { "title": "Elapsed" },
                    { "title": "Name" },
                    { "title": "Team" },
                    { "title": "Type" },
                    { "title": "TypeId" },
                    { "title": "Points" },
                    { "title": "LastModified" }
                ],
                "data": [
                    @for((p, index) <- opta_events.zipWithIndex) {
                        [
                            "@GlobalDate.formatDate(p.timestamp)",
                            "@("%02d".format(p.min)):@("%02d".format(p.sec))",
                            @if(playerInfoMap.containsKey(p.optaPlayerId)) {
                                "@playerInfoMap(p.optaPlayerId)",
                                "@playerInfoMap(p.optaPlayerId+"-team")",
                            } else {
                                "@p.optaPlayerId",
                                "???",
                            }
                            "@OptaEventType.getEnum(p.typeId).name()",
                            "@p.typeId",
                            "@p.points",
                            @if(p.lastModified != null) {
                                "@GlobalDate.formatDate(p.lastModified)"
                            } else {
                                ""
                            }
                        ] @if(index < opta_events.size-1) { , }
                    }
                ],
                stateSave: true,
                iDisplayLength: 100,
                "deferRender": true
            } );
        })
    </script>
}

@main("Opta Events - Admin", scripts) {

<h1 class="page-header">Opta Events</h1>

<div class="table-responsive">
    <table id="ajax_table_id" class="table table-striped"></table>
</div>
}