@(competitions: List[model.opta.OptaCompetition])

@import controllers.admin.routes._
@import model.GlobalDate

@scripts = {
    <script type="text/javascript">
        function isStateValid(value) {
            return value == true || value == false;
        }

        function changeStateActivated(element, value) {
            var id = element.attr("data-competition-id")
            $.ajax({
                url: "/admin/opta_competitions/"+id+"/activated/"+value,
                success: function(result) {
                    element.effect( "highlight", {}, 1000 );
                },
                error: function(result) {
                    element.effect( "highlight", {color:"#FF0000"}, 1000 );
                }
            });
            return true;
        }

        function registerToEdit() {
            $(".edit-activated")
                .off()
                .click(function() {
                    changeStateActivated($(this), $(this).is(':checked'));
                });
        }

        $(document).ready( function(){
            $('#ajax_table_id').dataTable( {
               "columns": [
                    { "title": "Activated" },
                    { "title": "Competition Id" },
                    { "title": "Competition Code" },
                    { "title": "Competition Name" }
                ],
                "data": [
                    @for((p, index) <- competitions.zipWithIndex) {
                        [
                            "@p.competitionId~@p.activated",
                            "@p.competitionId",
                            "@p.competitionCode",
                            "@p.competitionName"
                        ] @if(index < competitions.size-1) { , }
                    }
                ],
                "columnDefs": [ {
                    "targets": 0,
                    "mRender": function (data, type, full) {
                        var fields = data.split('~');
                        if (fields[1] == "true") {
                            return '<input class=\"edit-activated\" type=\"checkbox\" checked data-competition-id="' + fields[0] + '" value="' + fields[1] + '">';
                        } else {
                            return '<input class=\"edit-activated\" type=\"checkbox\" data-competition-id="' + fields[0] + '" value="' + fields[1] + '">';
                        }
                    }
                } ],
                stateSave: true,
                iDisplayLength: 100,
                "deferRender": true,
                "fnDrawCallback": function( oSettings ) {
                    registerToEdit();
                }
            } );
        })
    </script>
}

@main("Opta Competitions - Admin", scripts) {

<h1 class="page-header">Opta Competitions</h1>

<a href="@OptaController.createAllCompetitions"><button class="btn btn-danger">Create All Competitions</button></a>

<h2 class="sub-header"></h2>

<div class="table-responsive">
    <table id="ajax_table_id" class="table table-striped"></table>
</div>

<a href='@DashboardController.index'>Back to Dashboard</a>
}