@(teams: List[model.opta.OptaTeam])

@import controllers.admin.routes._

@scripts = {
    <script type="text/javascript">
        $(document).ready( function(){
            $('#ajax_table_id').dataTable( {
                "columns": [
                    { "title": "Id" },
                    { "title": "Name" },
                    { "title": "ShortName" },
                    { "title": "Competitions" },
                    { "title": "Updated Time" }
                ],
                "data": [
                    @for((p, index) <- teams.zipWithIndex) {
                        [
                            "@p.optaTeamId",
                            "@p.name",
                            "@p.shortName",
                            "@p.competitionIds",
                            "@p.updatedTime"
                        ] @if(index < teams.size-1) { , }
                    }
                ],
                stateSave: true,
                iDisplayLength: 100,
                "deferRender": true
            } );
        })
    </script>
}

@main("Opta Soccer Teams - Admin", scripts) {

<h1 class="page-header">Opta Soccer Teams</h1>

<div class="table-responsive">
    <table id="ajax_table_id" class="table table-striped">
    </table>
</div>
}