@()

@import controllers.admin.routes._
@import model.GlobalDate

@scripts = {
    <script type="text/javascript">
      /* Table initialisation */
      $(document).ready(function() {
        $('#ajax_table_id').dataTable( {
          "columns": [
            { "title": "Points Translation Id" },
            { "title": "CompetitionId" },
            { "title": "GameId" },
            { "title": "OptaPlayerId" },
            { "title": "TypeId" },
            { "title": "Points" },
            { "title": "TimeStamp" },
            { "title": "LastModified" }
          ],
          "iDisplayLength": 100,
          "bProcessing": true,
          "aaSorting": [[ 0, "asc" ]],
          "bServerSide": true,
          "bJQueryUI": true,
          "sPaginationType": "full_numbers",
          "sAjaxSource": "/admin/opta_events/ajax"
        });
      });
    </script>
}

@main("Opta Events - Admin", scripts) {

<h1 class="page-header">Opta Events</h1>

<div class="table-responsive">
    <table id="ajax_table_id" class="table table-striped"></table>
</div>
}