@()

@import controllers.admin.routes._
@import model.GlobalDate

@scripts = {
    <script type="text/javascript">
      /* Table initialisation */
      $(document).ready(function() {
        $('#ajax_table_id').dataTable( {
          "iDisplayLength": 100,
          "bProcessing": true,
          "aaSorting": [[ 0, "asc" ]],
          "bServerSide": true,
          "bJQueryUI": true,
          "sPaginationType": "full_numbers",
          "sAjaxSource": "/admin/opta_events/ajax"
        });
      });
    </script>
}

@main("Opta Events - Admin", scripts) {

<h1 class="page-header">Opta Events</h1>

<div class="table-responsive">
    <table id="ajax_table_id" class="table table-striped">
        <thead>
        <tr>
            <th>Points Translation Id</th>
            <th>CompetitionId</th>
            <th>GameId</th>
            <th>HomeTeamId</th>
            <th>AwayTeamId</th>
            <th>OptaPlayerId</th>
            <th>TypeId</th>
            <th>Points</th>
            <th>TimeStamp</th>
            <th>LastModified</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
}