@(match_events: List[model.opta.OptaMatchEvent])

@import controllers.admin.routes._
@import model.GlobalDate

@scripts = {
    <script type="text/javascript">
        $(document).ready( function(){
            $('#ajax_table_id').dataTable( {
               "columns": [
                    { "title": "Id" },
                    { "title": "CompetitionId" },
                    { "title": "Competition Name" },
                    { "title": "SeasonId" },
                    { "title": "SeasonName" },
                    { "title": "HomeTeamId" },
                    { "title": "AwayTeamId" },
                    { "title": "Match Date" },
                    { "title": "Last Modified" }
                ],
                "data": [
                    @for((p, index) <- match_events.zipWithIndex) {
                        [
                            "@p.optaMatchEventId",
                            "@p.competitionId",
                            "@p.competitionName",
                            "@p.seasonId",
                            "@p.seasonName",
                            "@p.homeTeamId",
                            "@p.awayTeamId",
                            "@GlobalDate.formatDate(p.matchDate)",
                             @if(p.lastModified != null) {
                                "@GlobalDate.formatDate(p.lastModified)"
                             } else {
                                "-"
                             }
                        ] @if(index < match_events.size-1) { , }
                    }
                ],
                stateSave: true,
                iDisplayLength: 100,
                "deferRender": true
            } );
        })
    </script>
}

@main("Opta Match Events - Admin", scripts) {

<h1 class="page-header">Opta Match Events</h1>

<div class="table-responsive">
    <table id="ajax_table_id" class="table table-striped"></table>
</div>
}