@(soccer_player: model.TemplateSoccerPlayer, opta_events: List[model.opta.OptaEvent])

@scripts = {
<script type="text/javascript">

        function updatePage() {
            console.log("reload");
            window.location.reload(true);
        }

        $(document).ready( function(){
            window.setInterval(updatePage, 10000);
        })

    </script>
}

@total_points() = {
    @{
        var total = 0
        for(event <- opta_events) {
            total += event.points
        }
        total
    }
}

@main("Player Fantasy Points - Admin", scripts) {

<h1 class="page-header">Player Fantasy Points</h1>

<h2 class="sub-header">@soccer_player.name: @total_points points</h2>
<div class="table-responsive">
    <table id="table_id" class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>CompetitionId</th>
            <th>GameId</th>
            <th>EventId</th>
            <th>HomeTeamId</th>
            <th>AwayTeamId</th>
            <th>OptaPlayerId</th>
            <th>TypeId</th>
            <th>Points</th>
            <th>TimeStamp</th>
            <th>LastModified</th>
        </tr>
        </thead>
        <tbody>
        @for(p <- opta_events) {
        <tr>
            <td>@p.optaEventId</td>
            <td>@p.competitionId</td>
            <td>@p.gameId</td>
            <td>@p.eventId</td>
            <td>@p.homeTeamId</td>
            <td>@p.awayTeamId</td>
            <td>@p.optaPlayerId</td>
            <td>@p.typeId</td>
            <td>@p.points</td>
            <td>@p.timestamp.format("yyyy/MM/dd HH:mm:ss")</td>
        @if(p.lastModified != null) {
            <td>@p.lastModified.format("yyyy/MM/dd HH:mm:ss")</td>
        } else {
            <td></td>
        }
        </tr>
        }
        </tbody>
    </table>
</div>

}