@(contestEntryForm: Form[controllers.admin.PointsTranslationForm])

@import helper._
@import helper.twitterBootstrap._

@if(contestEntryForm.hasErrors) {
    @controllers.admin.FlashMessage.danger("Contest Entry Form has errors")
}

@input_number(field: Field, _placeholder: String = "", _class: String = "") = {
<div>
    <input id="@field.name" name="@field.name" type="number" placeholder="@_placeholder" class="@_class @if(field.hasErrors) {has-error}" required="" value="@field.value">
    @if(field.hasErrors) {
    <span class="help-block">@{field.error.map { error => error.message }}</span>
    }
</div>
}

@main("Point Translation Add - Admin") {

<h1 class="page-header">Point Translation Add</h1>

<h2 class="sub-header"></h2>

@helper.form(action = AdminController.submitPointsTranslation, 'class -> "form-horizontal") {
<fieldset>

    <!-- Form Name -->
    <legend>Point Translation</legend>

    <!-- Text input-->
    <div class="control-group">
        <label class="control-label">Event Type</label>
        <div class="controls">
            @input_number(contestEntryForm("eventType"), _placeholder = "Event Type", _class = "form-control input-xlarge")
        </div>
    </div>

    <!-- Text input-->
    <div class="control-group">
        <label class="control-label">Points</label>
        <div class="controls">
            @input_number(contestEntryForm("points"), _placeholder = "Points", _class = "form-control input-xlarge")
        </div>
    </div>

    <!-- Button (Double) -->
    <div class="control-group">
        <label class="control-label" for="ok"></label>
        <div class="controls">
            <button id="ok" name="ok" type="submit" class="btn btn-success">Create</button>
            <a href="@AdminController.pointsTranslations" class="btn btn-danger">Cancel</a>
        </div>
    </div>

</fieldset>
}

<br/>

<br/>
<a href='@AdminController.pointsTranslations'>Back to Points Translation</a>

}
