@(promos: List[model.Promo])

@import model.opta.{OptaEventType, OptaProcessor}
@import model.GlobalDate
@import controllers.admin.routes._
@import controllers.admin.PromoController

@main("Promos - Admin") {

<h1 class="page-header">Promo List</h1>

<a href="@controllers.admin.routes.PromoController.newForm"><button class="btn btn-success">New Promo</button></a>

<h2 class="sub-header"></h2>
<div class="table-responsive">
    <table id="table_id" class="table table-striped">
        <thead>
        <tr>
            <th>CodeName</th>
            <th>Priority</th>
            <th>Activation date</th>
            <th>Deactivation date</th>
            <th>Active</th>
            <th>Preview Promo</th>

        </tr>
        </thead>
        <tbody>
        @for(p <- promos) {
        <tr>
            <td><a href="@controllers.admin.routes.PromoController.edit(p.promoId.toString())">@p.codeName</a></td>
            <td>@p.priority</td>
            <td>@GlobalDate.formatDate(p.activationDate)</td>
            <td>@GlobalDate.formatDate(p.deactivationDate)</td>
            <td>@GlobalDate.currentlyBetween(p.activationDate, p.deactivationDate)</td>
            <td><a target="_blank" href=@PromoController.getPreviewUrl(p.codeName)><button class="btn btn-success">Preview</button></a></td>
        </tr>
        }
        </tbody>
    </table>
</div>
}