@()

@import controllers.admin.OptaSimulator
@import helper._
@import helper.twitterBootstrap._
@import controllers.admin.routes._
@import model.Global

@scripts = {
<script type="text/javascript">

        function updatePage() {
            window.location.reload(true);
        }

        function updateTime() {
            $("#result").load("ajax/test.html");
        }

        $(document).ready( function(){
           window.setInterval(updatePage, 1000);
        })

    </script>
}


@main("Simulator - Admin", scripts) {

<h1 class="page-header">Simulator:  @Global.currentTimeString</h1>
    <div class="btn-group">
        @if(OptaSimulator.isPaused()){
            <a class="btn btn-primary play" href="@SimulatorController.start">
                Play
            </a>
        } else {
            <a class="btn btn-primary pause" href="@SimulatorController.pause">
                Pause
            </a>
        }
        @if(OptaSimulator.isPaused()){
            <a class="btn btn-primary forward" href="@SimulatorController.nextStep">
             Next step
            </a>
        } else {
            <a class="btn btn-primary disabled forward" href="@SimulatorController.nextStep">
             Next step
            </a>
        }
        <a class="btn btn-primary stop" href="@SimulatorController.reset">
             Reset
        </a>
    </div>
    <hr>
    @if(OptaSimulator.isPaused()){
        @helper.form(action = SimulatorController.gotoNextPause) {
            <input type="datetime-local" value="2014-06-14T00:00" name="date">
            <button id="ok" name="ok" type="submit" class="btn btn-primary fforward">
                Go To
            </button>
        }
    }
}
