@(team: model.SoccerTeam)

<div class="table-responsive">
    <table class="table table-striped">
        <caption>@team.name</caption>
        <thead>
        <tr>
            <!--th>Template SoccerID</th-->
            <th>OptaId</th>
            <th>Name</th>
            <th>Field Pos</th>
            <th>Salary</th>
            <th>Fantasy Points</th>
        </tr>
        </thead>
        <tbody>
        @for(p <- team.soccerPlayers) {
        <tr>
            <!--td>@p.templateSoccerPlayerId</td-->
            <td>@p.optaPlayerId</td>
            <td>@p.name</td>
            <td>@p.fieldPos</td>
            <td>@p.salary</td>
            <td>@p.fantasyPoints</td>
        </tr>
        }
        </tbody>
    </table>
</div>
