@(template_contest: model.TemplateContest, match_events: List[model.TemplateMatchEvent], templateSoccerTeamMap: HashMap[org.bson.types.ObjectId, model.TemplateSoccerTeam])

@import controllers.admin.routes._

@match_event_state(match_event : model.TemplateMatchEvent) = {
    @if(match_event.isFinished()) {
        <button class="btn btn-danger state_match_event">Finished</button>
    } else {
        @if(match_event.isStarted()) {
            <button class="btn btn-success state_match_event">Live</button>
        } else {
            <button class="btn btn-warning state_match_event">Waiting</button>
        }
    }
}

@main("Template Contest - Admin") {

<h1 class="page-header">Template Contest</h1>

<h2 class="sub-header">@template_contest.name</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <!--th>Id</th-->
            <th>OptaId</th>
            <th>OptaTeamAId</th>
            <th>OptaTeamBId</th>
            <th>Teams</th>
            <th>Start Date</th>
            <th>State</th>
        </tr>
        </thead>
        <tbody>
        @for(p <- match_events) {
        <tr>
            <!--td>@p.templateMatchEventId</td-->
            <td>@p.optaMatchEventId</td>
            <td>@p.optaTeamAId</td>
            <td>@p.optaTeamBId</td>
            <td>
                <a href="@TemplateSoccerTeamController.show(p.templateSoccerTeamAId.toString())">
                    @templateSoccerTeamMap(p.templateSoccerTeamAId).name
                </a>
                vs
                <a href="@TemplateSoccerTeamController.show(p.templateSoccerTeamBId.toString())">
                    @templateSoccerTeamMap(p.templateSoccerTeamBId).name
                </a>
            </td>
          <td>@GlobalDate.format(p.startDate)</td>
            <td>@match_event_state(p)</td>
        </tr>
        }
        </tbody>
    </table>
</div>

}