@(template_contests: List[model.TemplateContest])

@main("Template Contests - Admin") {

<h1 class="page-header">Template Contests</h1>

<a href="@AdminController.createAllTemplateContests"><button class="btn btn-success">Create All Contests</button></a>

<h2 class="sub-header"></h2>
<div class="table-responsive">
    <table id="table_id" class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>PostName</th>
            <th>Num. Matches</th>
            <th>Min Instances</th>
            <th>Max Entries</th>
            <th>Salary Cap</th>
            <th>Entry Fee</th>
            <th>Prize Type</th>
            <th>Start Date</th>
            <!--
            @for(i <- 0 to 10) {
            <th>Match Event @i</th>
            }
            -->
        </tr>
        </thead>
        <tbody>
        @for(p <- template_contests) {
        <tr>
            <td>@p.templateContestId</td>
            <td>@p.name</td>
            <td>@p.postName</td>
            <td>@p.templateMatchEventIds.size()</td>
            <td>@p.minInstances</td>
            <td>@p.maxEntries</td>
            <td>@p.salaryCap</td>
            <td>@p.entryFee</td>
            <td>@p.prizeType</td>
            <td>@p.startDate.format("yyyy/MM/dd hh:mm:ss")</td>
        </tr>
        }
        </tbody>
    </table>
</div>

<a href='@AdminController.dashBoard'>Back to Dashboard</a>

}