@(match_event: model.TemplateMatchEvent)

@import controllers.admin.routes._

@main("Mach Event - Admin") {

<h1 class="page-header">Match Event: @match_event.templateMatchEventId</h1>

<h2 class="sub-header">Start Date: @match_event.startDate</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <caption>@match_event.soccerTeamA.name</caption>
        <tr>
            <th>Template SoccerID</th>
            <th>Name</th>
            <th>Field Pos</th>
            <th>Salary</th>
            <th>Fantasy Points</th>
        </tr>
        </thead>
        <tbody>
        @for(p <- match_event.soccerTeamA.soccerPlayers) {
        <tr>
            <td>@p.templateSoccerPlayerId</td>
            <td>@p.name</td>
            <td>@p.fieldPos</td>
            <td>@p.salary</td>
            <td>@p.fantasyPoints</td>
        </tr>
        }
        </tbody>
    </table>
    <table class="table table-striped">
        <caption>@match_event.soccerTeamB.name</caption>
        <thead>
        <tr>
            <th>Template SoccerID</th>
            <th>Name</th>
            <th>Field Pos</th>
            <th>Salary</th>
            <th>Fantasy Points</th>
        </tr>
        </thead>
        <tbody>
        @for(p <- match_event.soccerTeamB.soccerPlayers) {
        <tr>
            <td>@p.templateSoccerPlayerId</td>
            <td>@p.name</td>
            <td>@p.fieldPos</td>
            <td>@p.salary</td>
            <td>@p.fantasyPoints</td>
        </tr>
        }
        </tbody>
    </table>
</div>

<a href='@TemplateMatchEventController.index'>Back to Template Match Events</a>

}