@(templateContestForm: Form[controllers.admin.TemplateContestForm], matchEventsOptions: HashMap[String, String], isActive: Boolean)

@import helper._
@import model._
@import utils.EnumUtils
@import controllers.admin.routes._
@import controllers.admin.TemplateContestForm

@if(templateContestForm.hasErrors) {
    @controllers.admin.FlashMessage.danger("Template MatchEvent Form has errors")
}

@templateContestId = @{
    templateContestForm("id").value.toString()
}

@myInputText(field: Field, _label: String = "", _size: Int = 10, _hidden: Boolean = false) = {
<div class="form-group @if(field.hasErrors) {has-error}" title="En el nombre se pueden usar las variables: %MaxEntries, %SalaryCap, %PrizeType, %EntryFee, %StartDate" @if(_hidden){ hidden }>
    @if(_label.nonEmpty) { <label class="control-label col-sm-3" for="@field.id">@_label</label> }
    <div class="col-sm-7">
        <input type="text" name="@field.id" id="@field.id" value="@field.value" size="@_size" class="form-control">
        @if(field.hasErrors){
        <p class="help-block">@{field.error.map { error => error.message }}</p>
        }
    </div>
</div>
}

@mySelect(field: Field, label: String = "CHANGEME", options: Seq[(String, String)], isMultiple: Boolean = false, size: Int = 1, isHorizontal: Boolean = true, help: String = "", _hidden: Boolean = false) = {
<div class="form-group @if(field.hasErrors) {has-error}" @if(_hidden){ hidden }>
    <label @if(isHorizontal){ class="col-sm-3 control-label"} for="@field.id">@label</label>
    <div @if(isHorizontal){ class="col-sm-7"}>
        @defining( if( isMultiple ) "%s[]".format(field.name) else field.name ) { selectName =>
        @defining( ( !field.indexes.isEmpty && isMultiple ) match {
            case true => field.indexes.map( i => field("[%s]".format(i)).value ).flatten.toSet
            case _ => field.value.toSet
        }){ values =>
        <select id="@field.id" name="@selectName" class="form-control" size="@size" @if(isMultiple) {multiple="true"}>
        @options.map { v =>
            <option value="@v._1" @if(values.contains(v._1)){selected="selected"}>@v._2</option>
        }
        </select>

        @if(isMultiple && !field.indexes.isEmpty) {
        <div>
            <strong>Previously selected:</strong>
            <ul>
            @options.map { v =>
                @if(values.contains(v._1)){<li><a href="/admin/template_match_event/@v._1">@v._2</a></li>}
            }
            </ul>
        </div>
        }
        }}
        <span class="help-block">@help</span>
        <span class="help-block">@{field.error.map { error => error.message }}</span>
    </div>
</div>
}

@myInputDate(field: Field, _label: String = "", _size: Int = 10, _hidden: Boolean = false) = {
<div class="form-group @if(field.hasErrors) {has-error}" @if(_hidden){ hidden }>
    <label class="col-sm-3 control-label" for="@field.id">@_label</label>
    <div class="col-sm-7">
        <input type="date" id="@field.id" name="@field.name" class="form-control" value="@field.value">
        @if(field.hasErrors){
        <p class="help-block">@{field.error.map { error => error.message }}</p>
        }
    </div>
</div>
}

@myInputDateTime(field: Field, _label: String = "", _size: Int = 10, _hidden: Boolean = false) = {
<div class="form-group @if(field.hasErrors) {has-error}" @if(_hidden){ hidden }>
    <label class="col-sm-3 control-label" for="@field.id">@_label</label>
    <div class="col-sm-7">
        <input type="datetime-local" id="@field.id" name="@field.name" class="form-control" value="@field.value">
        @if(field.hasErrors){
        <p class="help-block">@{field.error.map { error => error.message }}</p>
        }
    </div>
</div>
}

@scripts = {
<script type="text/javascript">

        function updatePrizes() {
            var maxEntries = $('#maxEntries').val();
            var entryFee = $('#entryFee').val();
            var prizeMultiplier = $('#prizeMultiplier').val();
            var prizeType = $('#prizeType').val();
            var prizePool = maxEntries * entryFee * prizeMultiplier;

            $("#prize-pool").text("("+prizePool + ")");
            $.ajax({
                url: "/admin/template_contest/get_prizes/"+prizeType+"/"+maxEntries+"/"+prizePool,
                success: function (result) {
                    var total = 0;
                    var head = "<table width='300'><caption>"
                                // +"TABLA DE PREMIOS (" + (maxEntries * entryFee * 0.90) + "€)"
                                +"</caption><thead><tr>"
                                + "<th>Position</th>"
                                + "<th>Prize</th>"
                                + "</tr></thead>";
                    var body = "<tbody>";
                    jQuery.each(result, function(index, value) {
                        var amount = Number(value.split(" ")[1]);
                        body += "<tr><td>"+(index+1)+"º</td>";
                        body += "<td>"+amount+"</td></tr>";
                        total += amount;
                    });
                    body += "</tbody>";
                    var footer = "<tfoot><tr>";
                    footer += "<td>Total</td>";
                    footer += "<td>"+total+"</td>";
                    footer += "</tr></tfoot>";
                    var end = "</table>";
                    $("#prizes").html(head+body+footer+end);
                }
            });
        }

        $(document).ready( function(){
            $('#typeContest').change(function(){
                if ($('#typeContest').val() == "REAL") {
                    $('#prizeMultiplier').val('0.9');
                    $('#prizeMultiplier').prop('disabled', true);

                    $('#startDate').val('');
                }
                else {
                    $('#prizeMultiplier').val('1.0');
                    $('#prizeMultiplier').prop('disabled', false);

                    $('#startDate').val($('#activationAt').val());
                }
                updatePrizes();
            });
            $('#maxEntries').change(function(){
                updatePrizes();
            });
            $('#entryFee').change(function(){
                if ($('#entryFee').val() > 0 && $('#prizeType').val() == "FREE") {
                    $('#prizeType').val("WINNER_TAKES_ALL")
                }
                else if ($('#entryFee').val() == 0) {
                    $('#prizeType').val("FREE");
                }
                updatePrizes();
            });
            $('#prizeMultiplier').change(function(){
                updatePrizes();
            });
            $('#prizeType').change(function(){
                updatePrizes();
            });

            if ($('#typeContest').val() == "REAL") {
                $('#prizeMultiplier').val('0.9');
                $('#prizeMultiplier').prop('disabled', true);
            }
            updatePrizes();
        })

    </script>
}

@main("Template Contest - Admin", scripts) {

<h1 class="page-header">Template Contest</h1>

<h2 class="sub-header"></h2>

@helper.form(action = TemplateContestController.create, 'class -> "form-horizontal") {
<fieldset>

    <!-- Form Name -->
    <legend>Template Contest</legend>

    <input type="hidden" name="id" value='@templateContestForm("id").value' >
    <input type="hidden" name="createdAt" value='@templateContestForm("createdAt").value' >
    <input type="hidden" name="state" value='@templateContestForm("state").value' >

    <div class="col-md-12">

        <div class="col-md-7">
            <form class="form-horizontal">

            @mySelect(
                templateContestForm("typeContest"),
                "Type",
                options(EnumUtils.toMap(classOf[TypeContest])),
                false,
                1,
                true,
                "",
                isActive
            )

            @myInputText(
                templateContestForm("name"),
                "Name",
                50
            )

            @mySelect(
                templateContestForm("typeCustomizable"),
                "Customizable By Users",
                options(EnumUtils.toMap(classOf[TemplateContestForm.SelectionYESNO])),
                false,
                1,
                true,
                ""
            )

            @myInputText(
                templateContestForm("minInstances"),
                "Min Instances",
                10
            )

            @myInputText(
                templateContestForm("maxEntries"),
                "Max Entries",
                10,
                isActive
            )

            @mySelect(
                templateContestForm("salaryCap"),
                "Salary Cap",
                options(EnumUtils.toMap(classOf[SalaryCap])),
                false,
                1,
                true,
                "",
                isActive
            )

            @myInputText(
                templateContestForm("entryFee"),
                "Entry Fee",
                10,
                isActive
            )

            @myInputText(
                templateContestForm("prizeMultiplier"),
                "Prize Multiplier",
                10,
                isActive
            )

            @mySelect(
                templateContestForm("prizeType"),
                "Prize Type",
                options(EnumUtils.toMap(classOf[PrizeType])),
                false,
                1,
                true,
                "",
                isActive
            )

            @myInputDateTime(
                templateContestForm("activationAt"),
                "Activation At (local)",
                10,
                isActive
            )

            @myInputDateTime(
                templateContestForm("startDate"),
                "Start Date (local)",
                10,
                isActive
            )

            @myInputText(
                templateContestForm("specialImage"),
                "Special Image",
                50
            )

            </form>

            <h4>TABLA DE PREMIOS <span id="prize-pool"></span></h4>
            <div id="prizes"></div>
        </div>

        <div class="col-md-5">
        @if(matchEventsOptions.isEmpty) {
            <span>No existen MatchEvents</span>
        } else {
            @mySelect(
                templateContestForm("templateMatchEvents"),
                "Template Match Events",
                options(matchEventsOptions),
                true,
                25,
                false,
                "",
                isActive
            )
        }
        </div>

    </div>

    <!-- Button (Double) -->
    <div class="control-group">
        <label class="control-label" for="ok"></label>
        <div class="controls">
            <button id="ok" name="ok" class="btn btn-success">Save</button>
            <a href="@TemplateContestController.index" class="btn btn-danger">Cancel</a>
        </div>
    </div>

</fieldset>
}

<br/>
<a href='@DashboardController.index'>Back to Dashboard</a>

}
