@(template_contest: model.TemplateContest, match_events: List[model.TemplateMatchEvent], templateSoccerTeamMap: HashMap[org.bson.types.ObjectId, model.TemplateSoccerTeam])

@import controllers.admin.routes._
@import model.GlobalDate

@template_state() = {
    @if(template_contest.isFinished()) {
        <button class="btn btn-danger">Finished</button>
    } else {
        @if(template_contest.isStarted()) {
            <button class="btn btn-success">Live</button>
        } else {
            <button class="btn btn-warning">Waiting</button>
        }
    }

    @if(template_contest.isSimulation()) {
        <button class="btn btn-success">Simulation</button>
    }
}

@match_event_state(match_event : model.TemplateMatchEvent) = {
    @if(match_event.isGameFinished()) {
        <button class="btn btn-danger state_match_event">Finished</button>
    } else {
        @if(match_event.isGameStarted()) {
            <button class="btn btn-success state_match_event">Live - @match_event.minutesPlayed min.</button>
        } else {
            <button class="btn btn-warning state_match_event">Waiting</button>
        }
    }
}

@match_event_name(p : model.TemplateMatchEvent) = @{
    var teamA = ""
    var teamB = ""
    if(p.isGameStarted()) {
        if(templateSoccerTeamMap.containsKey(p.templateSoccerTeamAId)) {
            teamA = templateSoccerTeamMap(p.templateSoccerTeamAId).name + "(" + p.getFantasyPointsForTeam(p.templateSoccerTeamAId) + ")"
        } else {
            teamA = p.templateSoccerTeamAId.toString
        }
        if(templateSoccerTeamMap.containsKey(p.templateSoccerTeamBId)) {
            teamB = templateSoccerTeamMap(p.templateSoccerTeamBId).name + "(" + p.getFantasyPointsForTeam(p.templateSoccerTeamBId) + ")"
        } else {
            teamB = p.templateSoccerTeamBId.toString
        }
    } else {
        if(templateSoccerTeamMap.containsKey(p.templateSoccerTeamAId)) {
            teamA = templateSoccerTeamMap(p.templateSoccerTeamAId).name
        } else {
            teamA = p.templateSoccerTeamAId.toString
        }
        if(templateSoccerTeamMap.containsKey(p.templateSoccerTeamBId)) {
            teamB = templateSoccerTeamMap(p.templateSoccerTeamBId).name
        } else {
            teamB = p.templateSoccerTeamBId.toString
        }
    }
    if (p.homeScore != -1 && p.awayScore != -1) {
        teamA + " vS " + teamB + " (" + p.homeScore + " - " + p.awayScore + ")"
    } else {
        teamA + " vS " + teamB
    }
}

@main("Template Contest - Admin") {

<h1 class="page-header">Template Contest</h1>

<a href="@TemplateContestController.showManagerLevels(template_contest.templateContestId.toString())"><button class="btn btn-success">Manager Levels</button></a>

<h2 class="sub-header">@template_contest.name  @template_state</h2>
<div class="table-responsive">
    <table id="table_id" class="table table-striped">
        <thead>
        <tr>
            <!--th>Id</th-->
            <th>OptaId</th>
            <th>OptaTeamAId</th>
            <th>OptaTeamBId</th>
            <th>Teams</th>
            <th>Start Date</th>
            <th>State</th>

        </tr>
        </thead>
        <tbody>
        @for(p <- match_events) {
        <tr>
            <!--td>@p.templateMatchEventId</td-->
            <td>@p.optaMatchEventId</td>
            <td>@p.optaTeamAId</td>
            <td>@p.optaTeamBId</td>
            <td><a href="@TemplateMatchEventController.show(p.templateMatchEventId.toString())">@match_event_name(p)</a></td>
            <td>@GlobalDate.formatDate(p.startDate)</td>
            <td>@match_event_state(p)</td>
        </tr>
        }
        </tbody>
    </table>
</div>

}