@(templateContestForm: Form[controllers.admin.TemplateContestForm], matchEventsOptions: HashMap[String, String])

@import helper._
@import helper.twitterBootstrap._
@import model._
@import utils.EnumUtils
@import controllers.admin.routes._

@if(templateContestForm.hasErrors) {
    @controllers.admin.FlashMessage.danger("Template MatchEvent Form has errors")
}

@myInputText(field: Field, _label: String = "", _size: Int = 10) = {
<div class="form-group @if(field.hasErrors) {has-error}" title="En el nombre se pueden usar las variables: %MaxEntries, %SalaryCap, %PrizeType, %EntryFee, %StartDate">
    @if(_label.nonEmpty) { <label class="control-label col-sm-3" for="@field.id">@_label</label> }
    <div class="col-sm-7">
        <input type="text" name="@field.id" id="@field.id" value="@field.value" size="@_size" class="form-control">
        @if(field.hasErrors){
        <p class="help-block">@{field.error.map { error => error.message }}</p>
        }
    </div>
</div>
}

@mySelect(field: Field, label: String = "CHANGEME", options: Seq[(String, String)], isMultiple: Boolean = false, size: Int = 1, isHorizontal: Boolean = true, help: String = "") = {
<div class="form-group @if(field.hasErrors) {has-error}">
    <label @if(isHorizontal){ class="col-sm-3 control-label"} for="@field.id">@label</label>
    <div @if(isHorizontal){ class="col-sm-7"}>
        @defining( if( isMultiple ) "%s[]".format(field.name) else field.name ) { selectName =>
        @defining( ( !field.indexes.isEmpty && isMultiple ) match {
            case true => field.indexes.map( i => field("[%s]".format(i)).value ).flatten.toSet
            case _ => field.value.toSet
        }){ values =>
        <select id="@field.id" name="@selectName" class="form-control" size="@size" @if(isMultiple) {multiple="true"}>
        @options.map { v =>
            <option value="@v._1" @if(values.contains(v._1)){selected="selected"}>@v._2</option>
        }
        </select>

        @if(isMultiple && !field.indexes.isEmpty) {
        <div>
            <strong>Previously selected:</strong>
            <ul>
            @options.map { v =>
                @if(values.contains(v._1)){<li><a href="/admin/template_match_event/@v._1">@v._2</a></li>}
            }
            </ul>
        </div>
        }
        }}
        <span class="help-block">@help</span>
        <span class="help-block">@{field.error.map { error => error.message }}</span>
    </div>
</div>
}

@myInputDate(field: Field, _label: String = "", _size: Int = 10) = {
<div class="form-group @if(field.hasErrors) {has-error}">
    <label class="col-sm-3 control-label" for="@field.id">@_label</label>
    <div class="col-sm-7">
        <input type="date" id="@field.id" name="@field.name" class="form-control" value="@field.value">
        @if(field.hasErrors){
        <p class="help-block">@{field.error.map { error => error.message }}</p>
        }
    </div>
</div>
}


@main("Template Contest - Admin") {

<h1 class="page-header">Template Contest</h1>

<h2 class="sub-header"></h2>

@helper.form(action = TemplateContestController.create, 'class -> "form-horizontal") {
<fieldset>

    <!-- Form Name -->
    <legend>Template Contest</legend>

    <input type="hidden" name="id" value='@templateContestForm("id").value' >
    <input type="hidden" name="createdAt" value='@templateContestForm("createdAt").value' >

    <div class="col-md-12">

        <div class="col-md-7">
            <form class="form-horizontal">
            @myInputText(
                templateContestForm("name"),
                "Name",
                50
            )

            @myInputText(
                templateContestForm("minInstances"),
                "Min Instances",
                10
            )

            @myInputText(
                templateContestForm("maxEntries"),
                "Max Entries",
                10
            )

            @myInputText(
                templateContestForm("salaryCap"),
                "Salary Cap",
                10
            )

            @myInputText(
                templateContestForm("entryFee"),
                "Entry Fee",
                10
            )

            @mySelect(
                templateContestForm("prizeType"),
                "Prize Type",
                options(EnumUtils.toMap(classOf[PrizeType])),
                false
            )

            @myInputDate(
                templateContestForm("activationAt"),
                "Activation At"
            )
            </form>
        </div>
        <!--
        @inputDate(
            templateContestForm("startDate"),
            '_label -> "Start Date"
        )
        -->

        <div class="col-md-5">
        @if(matchEventsOptions.isEmpty) {
            <span>No existen MatchEvents</span>
        } else {
            @mySelect(
                templateContestForm("templateMatchEvents"),
                "Template Match Events",
                options(matchEventsOptions),
                true,
                25,
                false
            )
        }
        </div>

    </div>

    <!-- Button (Double) -->
    <div class="control-group">
        <label class="control-label" for="ok"></label>
        <div class="controls">
            <button id="ok" name="ok" class="btn btn-success">Save</button>
            <a href="@TemplateContestController.index" class="btn btn-danger">Cancel</a>
        </div>
    </div>

</fieldset>
}

<br/>
<a href='@DashboardController.index'>Back to Dashboard</a>

}
