@(automaticallyCreateEnabled : Boolean, competitionFilter: String = "*", competitionMap: HashMap[String, model.opta.OptaCompetition])

@import model._
@import controllers.admin.routes._

@competition_names(competitionIds : List[String]) = @{
    competitionIds.filter( (p) => competitionMap.contains(p) ).map( (p) => competition_name(p) ).mkString(", ")
}

@competition_name(competitionId : String) = @{
    if(competitionId == "*") {
        "All Competitions"
    } else {
        if(competitionMap.contains(competitionId)) {
            competitionMap(competitionId).competitionName
        } else {
            competitionId
        }
    }
}

@scripts = {
    <script type="text/javascript">

        function updatePage() {
            @if(model.Model.isLocalHostTargetEnvironment()) {
            $.ajax({
                url: "/admin/get_simulator_state",
                success: function(result) {
                    if (result.init && !result.isPaused) {
                        window.location.reload(true);
                    }
                }
            });
            }
        }

        $(document).ready( function(){
            window.setInterval(updatePage, 10000);

            $('#ajax_table_id').dataTable( {
              "columns": [
                { "title": "State" },
                { "title": "Name" },
                { "title": "Num. Matches" },
                { "title": "Competition" },
                { "title": "Min Instances" },
                { "title": "Min/Max Entries" },
                { "title": "Salary Cap" },
                { "title": "Filters" },
                { "title": "Entry Fee" },
                { "title": "Multiplier" },
                { "title": "Pool" },
                { "title": "Prize Type" },
                { "title": "Start Date" },
                { "title": "Activation At" },
                { "title": "" },
                { "title": "" },
                { "title": "" }
              ],
              "iDisplayLength": 100,
              "bProcessing": true,
              "aaSorting": [[ 0, "asc" ]],
              "bServerSide": true,
              "stateSave": true,
              "bJQueryUI": true,
              "sPaginationType": "full_numbers",
              "sAjaxSource": "/admin/template_contests/ajax/@competitionFilter"
            });
        })

    </script>
}

@main("Template Contests - Admin", scripts) {

    <h1 class="page-header">Template Contests
    <span class="dropdown">
        <a data-toggle="dropdown" href="#">@competition_name(competitionFilter)</a><span class="caret"></span>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            @if(competitionFilter != "*") {
                <li><a href='@TemplateContestController.index'>All Competitions</a></li>
            }
            @for((key, competition) <- competitionMap) {
                @if(competitionFilter != key) {
                    <li><a href='@TemplateContestController.showFilterByCompetition(key)'>@competition.competitionName</a></li>
                }
            }
        </ul>
    </span>
    </h1>

    <div style="float: right; margin-right:100px;">
        <a href="@TemplateContestController.defaultCSV"><button class="btn btn-success">Default CSV</button></a>
    </div>
    <p>
        @helper.form(action = TemplateContestController.importFromCSV, 'enctype -> "multipart/form-data") {
        <input class="btn btn-primary" type="submit" value="Import from CSV">
        <input type="file" name="csv" style="display: inline;">
        }
    </p>

    @if(competitionFilter == "*") {
        <a href="@TemplateContestController.newForm(23)"><button class="btn btn-success">[@competition_name("23")] Add Contest</button></a>
        <a href="@TemplateContestController.newForm(8)"><button class="btn btn-success">[@competition_name("8")] Add Contest</button></a>
        <a href="@TemplateContestController.newForm(4)"><button class="btn btn-success">[@competition_name("4")] Add Contest</button></a>
    } else {
        <a href="@TemplateContestController.newForm(competitionFilter.toInt)"><button class="btn btn-success">[@competition_name(competitionFilter)] Add Contest</button></a>
    }

    @if(model.Model.isLocalHostTargetEnvironment()) {
    <div style="float: right; margin-right:100px;">
        @if(!automaticallyCreateEnabled) {
            <a href="@TemplateContestController.setCreatingTemplateContestsState(true)"><button class="btn btn-danger">Start Creating Template Contests</button></a>
        } else {
            <a href="@TemplateContestController.setCreatingTemplateContestsState(false)"><button class="btn btn-warning">Stop Creating Template Contests</button></a>
        }
        <a href="@TemplateContestController.createAll"><button class="btn btn-danger">Create All Contests</button></a>
    </div>
    }

    <h2 class="sub-header"></h2>
    <div class="table-responsive">
        <table id="ajax_table_id" class="table table-striped"></table>
    </div>
}