@(users: List[model.User])

@main("Users - Admin") {

<h1 class="page-header">Users</h1>

<a href="@admin.routes.AdminController.dashBoard"><button class="btn btn-success">Add User</button></a>

<h2 class="sub-header"></h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>NickName</th>
            <th>Email</th>
            <!--th>Password</th-->
        </tr>
        </thead>
        <tbody>
        @for(p <- users) {
        <tr>
            <td>@p._id</td>
            <td>@p.firstName</td>
            <td>@p.lastName</td>
            <td>@p.nickName</td>
            <td>@p.email</td>
            <!--td>@p.password</td-->
        </tr>
        }
        </tbody>
    </table>
</div>

<a href='@admin.routes.AdminController.dashBoard'>Back to Dashboard</a>

}