.DS_Store
logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.target/
.*.swp
data/heroku_mongo_dump.sh
data/snapshot*.tar.gz
