.DS_Store
logs
project/project
project/target
target
tmp
.history
dist
/*.iml
/out
.idea
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.target/
.*.swp
data/heroku_mongo_dump.sh
data/heroku_staging_mongo_dump.sh
data/heroku_production_mongo_dump.sh
data/snapshot*.tar.gz
.env
