@(contest_entries: List[model.ContestEntry])

@main("Fantasy Teasm - Admin") {

<h1 class="page-header">Contest Entries</h1>

<h2 class="sub-header"></h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>UserId</th>
            <th>ContestId</th>
            <th>Soccer 1</th>
            <th>Soccer 2</th>
            <th>Soccer 3</th>
            <th>Soccer 4</th>
            <th>Soccer 5</th>
            <th>Soccer 6</th>
            <th>Soccer 7</th>
            <th>Soccer 8</th>
            <th>Soccer 9</th>
            <th>Soccer 10</th>
            <th>Soccer 11</th>
        </tr>
        </thead>
        <tbody>
        @for(p <- contest_entries) {
        <tr>
            <td>@p.contestEntryId</td>
            <td>@p.userId</td>
            <td>@p.contestId</td>
            @for(id <- p.soccerIds) {
            <td>@id</td>
            }
        </tr>
        }
        </tbody>
    </table>
</div>

<a href='@routes.AdminController.dashBoard'>Back to Dashboard</a>

}