@(contests: List[model.Contest])

@main("Contests - Admin") {

<h1>Contests</h1>

<div>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>CurrentUserIds</th>
            <th>maxUsers</th>
            <th>TemplateContestId</th>
        </tr>
        @for(p <- contests) {
        <tr>
            <td>@p.contestId</td>
            <td><a href="@routes.AdminController.contest(p.contestId.toString())">@p.name</a></td>
            <td>@p.currentUserIds</td>
            <td>@p.maxUsers</td>
            <td><a href="@routes.AdminController.templateContest(p.templateContestId.toString())">@p.templateContestId</a></td>
        </tr>
        }
    </table>
</div>

<a href='@routes.AdminController.dashBoard'>Back to Dashboard</a>

}