@(message: String)

@main("DailySoccer - Admin") {

<h1>Dashboard</h1>

<ul>
<li><a href="@routes.AdminController.lobby">Lobby</a></li>
<li><a href="@routes.AdminController.users">Users</a></li>
<li><a href="@routes.AdminController.fantasyTeams">Fantasy Teams</a></li>
<li><a href="@routes.AdminController.contests">Contests</a></li>
<li><a href="@routes.AdminController.templateContests">Template Contests</a></li>
<li><a href="@routes.AdminController.templateMatchEvents">Template Match Events</a></li>
<li><a href="@routes.AdminController.templateSoccerTeams">Template Teams</a></li>
<li><a href="@routes.AdminController.templateSoccerPlayers">Template Soccer Players</a></li>
</ul>

}